<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brookmanholmes.bma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name="com.brookmanholmes.bma.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme">

        <activity
            android:name=".ui.IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.newmatchwizard.CreateNewMatchActivity"
            android:theme="@style/AppTheme.CreateMatch"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.matchinfo.MatchInfoActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.brookmanholmes.bma.matchmodel" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.matchinfo.HighRunAttemptActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.brookmanholmes.bma.hramatchmodel" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.profile.PlayerProfileActivity"
            android:label="Player Profile" />
    </application>

</manifest>